html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
    background: #8b8b8b;
    color: #fff;
}

#wrapper {
    padding: 50px;
    text-align: center;
}

a {
    color: #bcbcbc;
}

a:hover {
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease;
}

h1 {
    margin-bottom: 50px;
}

#wikiSearch {
    margin-bottom: 50px;
}

.articleContainer {
    margin-top: 50px;
}

.media {
    border: 1px solid #fff;
    padding: 10px;
    background: #3d9569;
}

.media-title {
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}

.media-text a {
    color: #bcbcbc;
}

.media-text a:hover {
    color: #fff;
    transition: 0.5s ease;
}