html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7;
    background: #f9f0d6;
    color: #424b43;
}

#wrapper {
    padding: 50px;
}

.lead {
    font-size: 2em;
}

a, a:focus {
    color: #b65e38;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #914b2c;
    transition: 0.5s ease;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5em;
    color: #386373;
}

h1 {
    margin-bottom: 50px;
}

#wikiSearch {
    margin-bottom: 50px;
}

#wikiSearch input {
    border-radius: 0;
}

.search {
    padding: 25px;
}

.search-btn {
    padding: 16px;
    background: #b65e38;
    color: #f9f0d6;
    border: 0;
}

.search-btn:hover {
    background: #914b2c;
    color: #f9f0d6;
    transition: 0.5s ease;
}

.search-btn:focus {
    background: #914b2c;
    color: #f9f0d6;
}

.articleContainer {
    margin-top: 50px;
}

.random {
    padding: 15px;
    background: #b65e38;
    color: #f9f0d6;
    border: 0;
    text-decoration: none;
}

.random:hover {
    background: #914b2c;
    transition: 0.5s ease;
}

.media {
    padding: 40px;
    background: #f3e2ae;
    margin-bottom: 40px;
}

.media-title {
    border-bottom: 1px solid #386373;
    margin-bottom: 30px;
}